.code-style {
    font-family: 'Courier New', Courier, monospace;
    color: #007acc; /* Blue color for Python code */
    background-color: #f0f0f0; /* Light gray background color */
    padding: 2px 5px; /* Add padding for better readability */
    border-radius: 3px; /* Add rounded corners */
}

/* Custom button styles */
.custom-button {
    cursor: pointer;
    display: inline-block;
    padding: 4px 8px; /* Adjust padding to make the button smaller */
    border: 2px solid #308333; /* Green border */
    background-color: #308333; /* Green background */
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 5px; /* Add rounded corners */
}

/* Hover effect */
.custom-button:hover {
    background-color: white;
    color: #308333;
}

/* Focus effect */
.custom-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Active effect */
.custom-button:active {
    background-color: #308333; /* Darker green */
    border-color: #308333;
}